<!-- Need to add in validation that will not let someone reach this page unless they have permission to view the page! -->

<div class="page">
  <article>
  <div class="page-header">
    <h1>Share the GroupSlam love</h1>
    <p class="lead">Invite your friends to your GroupSlam.</p>
  </div>
  <h4>Your friends will receive a unique invite from GroupSlam to join <%= current_group.title %>'s GroupSlam.</h4>

<%= form_for @invite, class: "form-horizontal" do |f| %>

  <%= f.hidden_field :group_id, value: @invite.group_id %>

  <div class="form-group">
    <%= f.label :recipient_email, "Email", class: "control-label"%>
    <div class="row">
      <div class="col-md-6">
        <%= f.email_field :recipient_email, class: "form-control"   %>
      </div>
    </div>
  </div>

  <%= f.submit class: 'btn btn-default' %>
<% end %>
  
  </article>
</div>