
<div class >
  <div class="portfolio-wrapper">
    <div class="row">
      <h2>Trending at <%= @group.title %> <%= render partial: "sort", locals: {group: @group} %></h2>
    </div>

  <!-- Need to add in code that crops image so all gifs are same size -->
       <!-- @memes.in_groups_of(3).each do |meme_row|  -->
      <% @memes.in_groups_of(3).each do |meme_row| %>
          <% meme_row.compact.each do |meme|  %>
            
            <div class="card film art">
              <%= link_to meme_path(meme.group.group_slug, meme), class: "thumb" do %>
                  <%= image_tag(meme.image.url, class: "img-thumbnail") %>
                  <span class="overlay"><span class="fa fa-search"></span></span>
              <% end %>
              <div class="card-body">
                <div class="react" meme_parent_id="<%=meme.id%>">
                  <%= render partial: "memes/memes_reactions", locals: {meme: meme} %>
                </div>
                <h5><small>Posted by <%= meme.creator.username %></small></h5>
              </div><!-- end card-body -->
              <div class="card-footer">
                <ul class="list-inline filters">
                  <% meme.tags.each do |tag| %>
                  <li><a href="#none"><%= tag.name %></a></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        </div>
      <% end %>
  </div>