<h1>Add A Meme</h1>

<div class="col-md-4">
    <div class="textpanel">
      <div id="target">
      <img  style="width:100%" src="https://s3.amazonaws.com/groupmeme/paired-programming.gif">
      </div> 
          <textarea class="meme-text" id="top-text" placeholder="Paired
          programming"></textarea>
          <textarea class="meme-text" id="bottom-text" placeholder="Bottom text..."></textarea>
    </div>
</div>
    

<div class="col-md-5">
  <%= form_for @meme, url: create_meme_path(params[:group_slug]) do |f| %>
    <%= f.file_field(:image, accept: 'image/png,image/gif,image/jpeg', id: 'pictureInput') %>
    <%= hidden_field_tag :top_text %>
    <%= hidden_field_tag :bottom_text %>
    <%= f.submit "Submit", id:'meme-upload-submit'%>
  <% end %>
</div>