<div class="container">
  <h1>Users in <%= current_group.title %></h1>

    <% @users.each do |user| %>
      <div class="card">
        <%= link_to user_path(user), class: "thumb" do %>
            <%= image_tag user.avatar %>
        <% end %>
      <div class="card-body">
        <h4><%= link_to user.username, user_path(user) %> </h4>
        <% if user != current_user %>
          <div>
          <span class="label label-large label-info">Role: <%= user.type(current_group) %></span>
        </div><br>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Edit User Status <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Set As Admin', edit_membership_path(current_group.group_slug, user.username, 'admin'), method: :patch %></li>
              <li><%= link_to 'Set As Moderator', edit_membership_path(current_group.group_slug, user.username, 'moderator'), method: :patch %></li>
              <li><%= link_to 'Set As User', edit_membership_path(current_group.group_slug, user.username, 'user'), method: :patch %></li>
              <li class="divider"></li>
              <li><a href="#none"><%= link_to "Remove User From Group", destroy_membership_path(current_group.group_slug, user.username), :method => :delete, data: { confirm: "Really?" }%></a></li>
            </ul>
          </div><!-- end btn-group -->
      </div>
        <% else %>
          <span class="label label-large label-info">That's you!</span>
        <% end  %>
      </div>
    <% end %>
</div>
