<div class="page">
  <article>
    <div class="page-header">
      <h1><%= @user.username %>'s Profile</h1>


    </div>

    <div class="container">
      <%= image_tag(@user.avatar, size: '50%') if @user.avatar %>
    <h3>Submissions:</h3>
    <ul class="media">
    <% if @user.memes.any?{|m| !m.nil?} %>
      <% @user.memes.each do |meme| %>
      <div class="media-object"><%= link_to image_tag(meme.image, class: 'media-object'), meme_path(meme.group.group_slug, meme)  %></div>
      <div class="media-body"><h6>Posted: <%= format_time(meme.created_at).capitalize %></h6></div>
      <% end %>
    <% else %>
      <p><%= @user.username %> hasn't submitted anything yet.</p>
    <% end %>
    </ul>

    <h3>Comments:</h3>
    <% if @user.comments.any?{|c| !c.nil?} %>
    <ul>
      <% @user.comments.each do |comment| %>
      <li><%= link_to comment.content, meme_path(comment.meme.group.group_slug, comment.meme) %></li>
      <% end %>
    </ul>
    <% else %>
      <p><%= @user.username %> hasn't written any comments yet.</p>
    <% end %>
  </article>
</div>
