<div class="page">
  <article>
    <div class="page-header">
      <h1><%= @user.username %>'s Profile</h1>
    </div>
    <div class="post-content">
      <%= form_for @user, url:user_path(@user.username), html: {class: "form-horizontal"} do |f| %>

        <div class="form-group">
          <strong><i>Current Avatar </i></strong>

          <br>
          <div id="target">
            <%= image_tag @user.avatar, class: "thumb", style: "width:30%"%>
          </div>
          <div class="sub-text">
            <br><br>
            <%= f.file_field(:avatar, accept: 'image/png,image/gif,image/jpeg', id: 'pictureInput') %>
          </div><br>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>

        <p><i>GroupSlam member since <%= format_time(@user.created_at) %> </i></p>
      <% end %> <!--END form_for-->
    </div>
  </article>
</div>
