<div class="page">
<article>
  <div class="page-header">
    <h1>Welcome to GroupSlam</h1>
    <p class="lead">The private forum for creating and sharing memes in your organization.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
    <h3>Please Sign Up</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- This is the new user registration form -->
      <%= form_for @user, url: registration_create_path, html: { multipart: true } do |f| %>

      <!-- Token (Hidden field)-->
      <% if @token != nil %>
      <div><%= f.hidden_field :invite_token, value: @token %></div>
      <% end %>

      <!-- Email (Hidden field)-->
      <div><%= f.hidden_field :email, value: @user.email %></div>

      <!-- Username field -->
      <div class="form-group">
        <%= f.label :username, class: "control-label" %>
        <div class="row">
          <div class="col-md-10">
            <%= f.text_field :username, value: @user.username, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Password field -->
      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <div class="row">
          <div class="col-md-10">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Password confirmation field -->
      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <div class="row">
          <div class="col-md-10">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Email field (Frozen) -->
      <div class="form-group disabled">
        <label class="control-label" for="inputEmail">Email*</label>
        <div class="row">
          <div class="col-md-10">
          <div class="controls">
            <span class="form-control uneditable-input"><%= @user.email %></span>
          </div>
          </div>
        </div>
      </div>

      <!-- Invited group -->
      <div class="form-group disabled">
        <label class="control-label" for="inputEmail">Group*</label>
        <div class="row">
          <div class="col-md-10">
          <div class="controls">
            <span class="form-control uneditable-input"><%= @invited_group %></span>
          </div>
          </div>
        </div>
      </div>

      <span class="help-block">*The email and group are based on your invite.</span>

  </div>


    <div class="col-md-4">

    <div class="sub-text">
      <%= f.label :avatar do %>
        <%= image_tag 'https://s3.amazonaws.com/groupmeme/default-avatar.png', class: "registration-default-image img-responsive"%>
        Customize your avatar
      <% end %>
      <%= f.file_field(:avatar, accept: 'image/png,image/gif,image/jpeg') %>
    </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <%= f.submit("Sign up", class: 'btn btn-lg btn-default' ) %>
      </div>

      <span class="help-block">We're currently in an invite-only beta, so you need an invite from an existing GroupSlam member to join GroupSlam. Interested in joining but don't have an account? Sign up here and we'll email you with priority access as we roll out.</span>
      <% end %>
    </div>
  </div>
</article>
</div>
